page-profile {
  .scroll-content {
    background-color: white;
  }
  .header-md h1 {
    position: relative;
    top: -70px;
    left: 20px;
    color: #f4f4f4;
    font-weight: bold;
  }
  // Feat android transparent status bar
  // Set padding-top and default bg-color for status bar

  .platform-android {
    .ion-page {
      ion-header {
        padding-top: $cordova-md-statusbar-padding;
        background-color: color($colors, primary);
      }
    }
  }

  // Super bar placeholder
  // Work in tool bar with transparent status bar

  %super-bar {
    .scroll-content {
      margin-top: 0 !important;
    }

    ion-header,
    .toolbar-background {
      background-color: initial !important;
      transition: background-color 1s ease;

      &:after {
        height: 0 !important;
      }
    }

    .opaque {
      background-color: color($colors, whatsapp) !important;

      &:after {
        height: 5px !important;
      }

      .toolbar-background {
        background-color: color($colors, whatsapp);
      }
    }
  }

  .platform-android {
    page-home,
    page-language-details {
      @extend %super-bar;
    }
  }
}
