<ion-header>
  <ion-toolbar color="primary">
    <ion-title>WhatsUp</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>

      <ion-button (click)="presentOptionsPopover($event)">
        <ion-icon slot="icon-only" name="more"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-tab-bar slot="top" color="primary">
    <ion-tab-button tab="camera">
      <ion-icon name="camera"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="chats"> <ion-label>CHATS</ion-label> </ion-tab-button>

    <ion-tab-button tab="status">
      <ion-label>STATUS</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="calls"> <ion-label>CALLS</ion-label> </ion-tab-button>
  </ion-tab-bar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let chat of chats">
      <ion-avatar slot="start" (click)="presentProfilePopover(chat.name)">
        <ion-img [src]="chat.profilePicture"></ion-img>
      </ion-avatar>
      <ion-label>
        <h2>{{ chat.name }}</h2>
        <p>{{ chat.message }}</p>
      </ion-label>

      <ion-badge slot="end" color="success">{{ chat.unreadCount }}</ion-badge>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button
      color="success"
      [routerLink]="['/contacts']"
      routerDirection="forward"
    >
      <ion-icon color="light" name="text"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
