<ion-list lines="none">
  <ion-item (click)="click('user-profile')">
    <p>View Contact</p>
  </ion-item>
  <ion-item (click)="click('media')">
    <p>Media</p>
  </ion-item>
  <ion-item (click)="click('search')">
    <p>Search</p>
  </ion-item>
  <ion-item (click)="click('mute-notifications')">
    <p>Mute Notifications</p>
  </ion-item>
  <ion-item (click)="click('wallpaper')">
    <p>Wallpaper</p>
  </ion-item>
  <ion-item (click)="click('report')">
    <p>Report</p>
  </ion-item>
  <ion-item (click)="click('block')">
    <p>Block</p>
  </ion-item>
  <ion-item (click)="click('clear-chat')">
    <p>Clear chat</p>
  </ion-item>
  <ion-item (click)="click('export-chat')">
    <p>Export chat</p>
  </ion-item>
  <ion-item (click)="click('add-shortcut')">
    <p>Add shortcut</p>
  </ion-item>
</ion-list>
