page-sendmessage {
  .scroll-content {
    background-color: white;
  }
  .item.head {
    background-color: transparent;
    padding-left: 0;
    color: white;
    font-size: 10px;
  }

  .item.head p {
    color: white;
    font-size: 10px;
  }

  .item.item-block .item-inner {
    border-bottom: none;
  }

  .item.footer {
    border-radius: 30px;
    background-color: white;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
      0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  }

  .item.footer .button {
    box-shadow: none;
    -webkit-box-shadow: none;
  }

  ion-input,
  ion-textarea {
  }

  .text-input {
    margin: 13px 0px;
  }

  .user_name {
    color: #afafaf;
  }
  .message {
    padding: 10px !important;
    transition: all 250ms ease-in-out !important;
    border-radius: 10px !important;
    margin-bottom: 4px !important;
  }
  .my_message {
    background: color($colors, primary) !important;
    color: #000 !important;
  }
  .other_message {
    background: #dcdcdc !important;
    color: #000 !important;
  }
  .time {
    color: #afafaf;
    float: right;
    font-size: small;
  }
  .message_row {
    background-color: #fff;
  }
}
