ion-header {
  ion-toolbar {
    --background: transparent;
  }
}
ion-header:after {
  background-image: none;
}

ion-content {
  --background: transparent;
}
ion-footer:before {
  background-image: none;
}
ion-footer {
  div.sub-footer {
    display: flex;
    flex-flow: column nowrap;

    div.controls {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-around;
      ion-button {
        height: 80px;
        //width: 70px;
        ion-icon {
          font-size: 40px !important;
        }
      }
      div.center {
        ion-button {
          height: 80px;
          //width: 70px;
          ion-icon {
            font-size: 80px !important;
          }
        }
      }
    }
  }
}
html,
body,
.ion-app,
.ion-content {
  background-color: transparent;
}
